@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

.cat
{
    display: inline-block;
    margin: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    height: 296px;
    width: 217px;
    border: 1px solid #e7e7e7;
}

.cat:hover
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.cat-photo
{
    overflow: hidden;
}

.cat-photo img 
{
    height: 144px;
    width: 217px;
    transition: all 1s ease-out;
    overflow: hidden;
}

.cat-photo img:hover
{
    transform: scale(1.2);
}

.cat-name h2
{
    font-weight: 300;
    margin: 8px 10px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.cat-name h2::after 
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, .4), #fff 100%);
}

.cat-name a
{
    color: #000;
    text-decoration: none;
}

.cat-name a:hover
{
    color: #f48f42;
    text-decoration: underline;
    cursor: pointer;
}

.cat-info p
{
    font-size: 14px;
    margin: 0 0 0 10px;
    color: #717171;
}

.cat-info p:nth-child(3)
{
    margin-bottom: 10px;
}

.cat-info p:hover
{
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
