@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

main
{
    height: 100%;
}

.cat
{
    vertical-align: top;
    display: inline-block;
    margin: 10px 0 0 10px;
    font-family: 'Roboto', sans-serif;
    width: 217px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
}

.cat:hover
{
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.cat-photo
{
    overflow: hidden;
}

.cat-photo img 
{
    height: 144px;
    width: 217px;
}

.cat-name h2
{
    font-weight: 300;
    margin: 8px 10px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.cat-name h2::after 
{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, .4), #fff 100%);
}

.cat-name a
{
    color: #000;
    text-decoration: none;
}

.cat-name a:hover
{
    color: #f48f42;
    text-decoration: underline;
    cursor: pointer;
}

.cat-info p
{
    font-size: 14px;
    margin: 0 0 0 10px;
    color: #717171;
}

.cat-info p:last-child  
{
    margin: 5px 0 10px 10px;
}

.cat-info p:hover
{
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.switcher
{
    display: none;
}

.cat-full
{
    display: none;

}

.cat-full p
{
    font-size: 14px;
    margin: 0 0 0 10px;
    color: #717171;
}

.cat-full p:last-child:hover
{

    text-decoration: none;
    cursor: default;
    color: #717171;
}

.cat-full p:hover
{
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

input + label
{
    cursor: pointer;
    margin: 0 16px;
}

input + label:hover
{
    color: #f48f42;
}

input:checked + label
{
    display: none;
}

input[value='list']:checked ~ main .cat
{
    display: block;
    max-width: 500px;
    min-width: 500px;
    height: 400px;
    margin: 35px auto;
}

input[value='list']:checked ~ main .cat .cat-photo img
{
    width: 500px;
    height: 220px;
}

input[value='list']:checked ~ main .cat .cat-info 
{
    display: none;
}

input[value='list']:checked ~ main .cat .cat-full
{
    display: block;
}
